.container {
    height: 100vh;
    width: 100%;
}

.container button {
    padding: 12px;
    color: #fff;
    background: #000;

}

.container.light {
    background-color: #fff;
}

.container.dark {
    background-color: #000;
}