.container {
  width: 50%;
  margin: 12px auto;
}

.card {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 12px 22px;
}

input {
  width: 50%;
  height: 100%;
  display: block;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 10px;
  padding: 12px 22px;
  margin-top: 20px;
}

.add-btn {
  margin-top: 10px;
}

.add-btn,
.delete-btn {
  font-size: 24px;
  padding: 5px 10px;
  color: rgb(255, 251, 251);
  background-color: rgb(0, 0, 0);
  border: 3px solid rgb(184, 181, 181);
}

.delete-btn {
  display: block;
  margin-left: auto;
}